body  {

    background-image: url(https://fondosmil.com/fondo/46044.jpg)   ;
    width: 100%;
    height: auto;



}

h2{
    text-align:center;



}

#btnCalcular{
padding-left: 200px;
padding-right: 200px;
}



