body{

    background-image: url(https://fondosmil.com/fondo/46044.jpg);
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 300px;
    padding-left: 250px;

}

h2{
    text-align:center;



}

