body{

background-image: url(https://static.vecteezy.com/system/resources/previews/002/309/794/non_2x/geometric-white-background-free-vector.jpg);

}

body{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 200;
    padding-bottom: 200px;
  }